[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask="1.1.2"
flask-cors="3.0.10"
flask-pymongo="*"
flask-fluentd="*"

[dev-packages]

[requires]
python_version = "3.9"
